
.card-container{
    display: grid;
    margin-top:2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:2rem;
    .card{
        display: flex;
        width: 40rem;
        border-radius: 5px;
        background-color: white;
        align-items: center;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.10), 0 3px 10px 0 rgba(0, 0, 0, 0.10);    
        
        &__img{
          width: 50%;
          height: 100%;
        }
        &__title{
          font-size: 1.2rem;
          margin: 0 auto;
          display: flex;
          height: 9rem;
          flex-direction: column;
          justify-content: space-between;
       
          a{
            background-color: $primary-color;
            padding: 1rem 1.5rem;
            width: 10rem;
            color: white;
            border-radius: 5px;
            box-shadow: 0;
           }
          
    
        }
     
    }
}

@media screen and (max-width: 800px){
  .section-2{

  }
  .card-container{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;

    .card{
      width: 80vw;
      margin: 0 auto;
    }
  }
}
