.section-1{
    background-image: url('../../../img/Illustration.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 65%;
}

.header{
    .nav__logo{
        position: relative;
        top:2rem;
    }
    .nav{
        display: flex;
        
        justify-content: space-between;
        width: 35vw;
        font-size: 1.2rem;
        position: relative;
        left: 60%;
        color: white;
        font-weight: bold;

        &__item--register>a{
          color: $primary-color;
          background-color: white;
          padding: 1rem 1.7rem;
          border-radius: 5px;
        }
    }
}

.headline{
    margin-top: 15rem;
    font-weight: bold;
    color: $secondary-color;
    text-align: left;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    h1{
     font-size: 4rem;
    }
    &__search{
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        width: 30.5rem;
    }
    &__search>input{
     width: 25rem;
     height: 4rem;
     border-width: 1px;
     border-radius: 5px;
     border-color: $secondary-color; 

     &::placeholder{
       color: #c0c2c4;
       padding: 1rem;
     }

     

   }
}
.search-button{
    background-color: $primary-color;
    margin-right: .5rem;
    padding: 1.4rem;
    color:white;
    border-radius: 5px;
    box-shadow: 0;
   }

   @media screen and (max-width: 800px){
    .section-1{
        background-image: none;
        height: auto !important;
        padding: 0rem 0 5rem 0;
    
    }
    
    .header{
        .nav__logo{
            position: relative;
            top:2rem;
        }
        .nav{
            display: flex;
            color: black;
            font-size: 1rem;
            justify-content: space-between;
            position: relative;
            font-weight: bold;
            &__item{
              padding-right: 0.1rem;
            }
            &__item--register>a{
              display: none;
            }
        }
    
    }
    .headline{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
   